#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* start */
@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

span {
  animation: num 5s;
  animation-fill-mode: forwards;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}
span::after {
  content: counter(num);
}
@keyframes num {
  from {
    --num: 0;
  }
  to {
    --num: 1365500;
  }
}
