* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background-color: #121212;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #bb86fc;
  max-width: 800px;
  width: 100%;
  color: white;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.description {
  margin-bottom: 2rem;
}

.hex {
  display: inline-block;
  margin-bottom: 2rem;
}

.hex span {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}

.hex span .score {
  color: #111827;
  text-align: center;
  font-size: 5rem;
}

.image {
  display: block;
  margin: 0 auto 2rem;
  border-radius: 10px;
  max-width: 100%;
  height: 600px;
}

.experience p {
  margin-bottom: 0.5rem;
  text-align: center;
}
